html {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(to bottom, #dbe4e8ff, #85aabbff);
    color: #3b485c;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none !important;
}

h2{
    margin-top: 2rem;
}

footer {
    margin-bottom: 0;
    bottom: 0 !important;
    right: 0 !important;
}

.navbar{
    margin-bottom: 2rem !important;
}

.navbar-dark {
    background-color: #313946 !important;
}

.emprestimo-container {
    display: flex;
    align-items: center;
}

.emprestimo, .listar-container {
    background-color: #f1f8ff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    align-self: center auto;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

.listar-container h6{
    overflow-wrap: break-word;
    word-break: normal;
}

.card {
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

.card img{
    border-radius: 10px
}

.card button{
    border-radius: 5px;
}

.material-symbols-rounded {
    color: #5b879d;
}

.campo-pesquisa {
    width: 100%;
    max-width: 500px;
}

.btn-outline-success, .btn-outline-primary {
    color: #5b879d;
    border-color: #5b879d;
}

.btn-outline-success:hover, .btn-outline-primary:hover{
    background-color: #5b879d;
    border-color: #5b879d;
}

.btn-primary {
    background-color: #5b879d;
    border-color: #cbdae1ff;
}

.btn-primary:hover {
    background-color: #6eadcb;
    border-color: #50656fff;
}

.btn-primary:disabled{
    background-color: #6eadcb;
    border-color: #50656fff;
}

.btn-outline-dark {
    border-color: #4f5d72;
    color: #313946;
}

.btn-outline-dark:hover {
    background-color: #313946;
}

.form-control, .form-select {
    background-color: #e9f0f3;
}

.list-group-item {
    background-color: #e0e9ed;
    border-color: #cbdae1ff;
}

.paginacao{
    display: flex;
    justify-content: center;
}

.list-group-item:hover {
    background-color: #e9f4f8;
}

.pagination .page-item .page-link {
    background-color: #5b879d;
    color: #ffffff;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:active {
    background-color: #6eadcb;
    color: #ffffff;
}
